.App-buttonGroup {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

button {
  font-family: inherit;
  background: #FFFFFF;
  border: 0;
  outline: 1px solid #DFE5EC;
  border-collapse: collapse;
  border-radius: 0;
  color: #4A4A4A;

  /* настройки текста */
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  padding: 15px 20px;
  width: 100%;
}

button:hover {
  color: #fff;
  background: #2196F3;
}

button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.active {}