@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
  --main-bg: #F3F7FA;
  --blue: #2196F3;
  --grey: #4A4A4A;
  --white: #fff;
  --base-radius: 5px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background-color: var(--main-bg);
  color: var(--grey);
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}